* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 16px;

    @media (max-width: 1280px) {
        font-size: 14px;
    }
}

body {
    background-color: $bg-color-1;
}

.container {
    max-width: 1165px;
    margin: 0 auto;
    &-big {
        max-width: 1280px;
    }
}

.center {
    text-align: center;
}