.contact {
  &-page {
    background-image: url(../img/contact/bg.svg);
    background-size: cover;
    background-position: center;
  }
  &-address {
    margin-top: auto;
  }
  &-note {
    border-radius: 50px;
    &-important {
      background-color: $red-color;
      color: white;
      font-size: 0.9375rem;
      line-height: 156%;
      padding: 0.875rem 2.875rem;
    }
    &-simple {
      font-size: 1.25rem;
      line-height: 156%;
      padding: 4.125rem 5.375rem;
      background-image: url(../img/contact/note-bg.png);
      background-size: cover;
      background-position: center;
      border-radius: 200px;
      margin-top: auto;
      color: $darkgrey-color-2;
    }
  }
  &-main {
    gap: 8.125rem;

    .col {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      &:first-of-type {
        width: 40%;
      }
      &:last-of-type {
        width: 60%;
      }
    }

    + .contact-main {
      margin-top: 3.75rem;
    }

    &-hours {
      font-size: 1.25rem;
      &-part {
        margin-top: 1.875rem;
        color: $darkgrey-color-2;
        &:first-of-type {
          margin-top: 2rem;
        }
        &:last-of-type {
          margin-bottom: 2rem;
        }
      }
      &-bold {
        font-weight: 500;
        font-family: $heading-font;
        margin-top: 0.75rem;
      }
    }
  }
  &-direction {
    gap: 2.5rem;
    margin: 1.875rem 0 3.125rem;
    &-video {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
    }
    &-map {
      width: 100%;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &-address {
    &-text {
      position: relative;
      font-size: 1.25rem;
      padding-left: 1.75rem;
      color: $darkgrey-color-2;
      margin: 1rem 0 1.25rem;
      line-height: 156%;

      &:before {
        content: "";
        position: absolute;
        width: 1.3125rem;
        height: 1.625rem;
        background-image: url(../img/icons/location.svg);
        background-position: center;
        background-repeat: no-repeat;
        left: 0;
        top: 0;
        display: inline-block;
      }
    }
  }
  &-info {
    margin-top: 2.25rem;
    &-link {
      display: flex;
      align-items: center;
      font-size: 1.25rem;
      color: $darkgrey-color-2;
      text-decoration: none;

      &-icon {
        margin-right: 0.375rem;
        max-height: 1.5rem;
      }

      + .contact-info-link {
        margin-top: 1.25rem;
      }
      &-text {
        display: flex;
        align-items: center;
        font-size: 1.25rem;
        color: $darkgrey-color-2;
        .contact-info-link {
          margin-right: 0.5rem;
          color: $blue-color;
        }
        + .contact-info-link-text {
          margin-top: 1.5rem;
        }
      }
    }
  }
  &-social {
    justify-content: space-between;
    margin-top: 3.75rem;
    &-item {
      background: #ffffff;
      box-shadow: 0px 69.9464px 28.1394px rgba(130, 130, 130, 0.01), 0px 39.3951px 23.3155px rgba(130, 130, 130, 0.05),
        0px 17.6876px 17.6876px rgba(130, 130, 130, 0.09), 0px 4.01991px 9.64778px rgba(130, 130, 130, 0.1),
        0px 0px 0px rgba(130, 130, 130, 0.1);
      border-radius: 1rem;
      min-width: 16.6rem;
      max-width: 16.625rem;
      &-photo {
        position: relative;
        overflow: hidden;
        height: 10rem;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &-top {
        display: flex;
        align-items: center;
        padding: 0.9375rem 1.125rem;
      }
      &-company {
        color: #554f4f;
        font-size: 11px;
        margin-left: 0.5rem;
      }
      &-content {
        padding: 0.5rem 1.25rem 1rem;
        p {
          margin: 0.3125rem 0;
          font-size: 0.5rem;
          color: #554f4f;
        }
        &-company {
          font-size: 0.625rem;
        }
        &-link {
          color: $blue-color;
          text-decoration: none;
          font-weight: 700;
        }
      }
    }
  }
}

.success {
  &-sect {
    margin-bottom: 2rem;
  }
  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.75rem;
    margin: 3.75rem 0;
  }
  &-item {
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    &-img {
      position: relative;
      width: 340px;
      height: 340px;
      margin: 0 auto 1rem;
      overflow: hidden;
      &-bg {
        position: absolute;
        height: 100%;
        width: 100%;
        height: 100%;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
      }
      &-photo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        max-width: 240px;
      }
    }
    &-info {
      text-align: center;
      margin: 0 0 1.5rem;
    }
    &-main {
      padding: 0 1.5rem 1.5rem;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
    &-course {
      font-size: 0.9375rem;
      color: $darkgrey-color-2;
      margin: 0.5rem 0 0;
      font-weight: 500;
      font-family: $heading-font;
      &-link {
        color: $darkgrey-color-2;
      }
    }
    &-desc {
      font-size: 0.9375rem;
      line-height: 143.49%;
      color: $darkgrey-color-2;
    }
    &-date {
      display: block;
      text-align: right;
      font-size: 0.75rem;
      margin: 1.5rem 0 1rem;
    }
    &-link {
      &-container {
        display: flex;
        margin-top: auto;

        .btn + .btn {
          margin-left: 0.75rem;
        }
      }
    }
    &.hidden {
      display: none;
    }
  }
}

.review {
  &-row {
    margin: 3.75rem 0 7.5rem;
    display: flex;
    align-items: center;
  }
  &-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.125rem 1.25rem;
    max-width: 40rem;
    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }
    &-item {
      background-color: white;
      border-radius: 1rem;
      padding: 0.5rem 1rem 1rem 1rem;
      &-logo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;
        img {
        }
      }
      &-rate {
        font-weight: 700;
        font-size: 2.625rem;
        line-height: 156%;
        font-family: $heading-font;
        color: $green-color;
        text-align: center;
        margin-bottom: 0.5rem;
      }
    }
  }
  &-average {
    position: relative;
    display: flex;
    margin-left: 4rem;
    &-decor {
      position: relative;
    }
    &-star {
      background-image: url(../img/review/star.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 18.125rem;
      height: 17.5rem;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 5rem;
      font-family: $heading-font;
      font-weight: 700;
      margin-left: -4rem;
    }
  }
  &-video {
    &-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3.75rem 1.625rem;
      margin: 3.75rem 0;
    }
    &-item {
      &-iframe {
        width: 100%;
        height: 14.3rem;
        border-radius: 1rem;
      }
      &-name {
        margin: 1rem 0 0;
        text-align: center;
        font-size: 0.9375rem;
        color: $darkgrey-color-1;
        font-family: $heading-font;
        line-height: 143.49%;
      }
    }
  }
}

.metro-line {
  font-size: 0.9375rem;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.3125rem;
  border-radius: 1.25rem;
  font-weight: 500;
  color: white;

  &-heading {
    display: flex;
    align-items: center;
  }

  &-green {
    background-color: #3aa53a;
  }

  &-brown {
    background-color: #7f5039;
  }
}

.swiper {
  &-review {
    margin-bottom: 7.5rem;
    &-slide {
      &-inner {
      }
      &-img {
        width: 100%;
        display: flex;
        position: relative;
      }
    }
  }
}

.job {
  &-list {
    display: flex;
    flex-direction: column;
    &-item {
      display: flex;
      align-items: flex-end;
      padding: 2rem 1rem 4rem 0;
      border-top: 1px solid #c8c8c8;
      &:last-of-type {
        border-bottom: 1px solid #c8c8c8;
      }
      &-name {
        &-heading {
          font-size: 1.5625rem;
          font-weight: 700;
          font-family: $heading-font;
          color: $darkgrey-color-1;
        }
      }
      &-type {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 1rem;
        &-badge {
          background-color: $lightblue-color-2;
          color: $darkgrey-color-3;
          border-radius: 1.5rem;
          padding: 0.5rem 1rem;
          font-size: 0.75rem;
          cursor: default;
        }
      }
      &-more {
        margin-left: auto;
        display: flex;
        gap: 1rem;
      }
    }
  }
}
