.contact {
  &-page {
    background-image: url(../img/contact/bg.svg);
    background-size: cover;
    background-position: center;
  }
  &-address {
    margin-top: auto;
  }
  &-note {
    border-radius: 50px;
    &-important {
      background-color: $red-color-1;
      color: white;
      font-size: 0.9375rem;
      line-height: 156%;
      padding: 0.875rem 2.875rem;
    }
    &-simple {
      font-size: 1.25rem;
      line-height: 156%;
      padding: 4.125rem 5.375rem;
      background-image: url(../img/contact/note-bg.png);
      background-size: cover;
      background-position: center;
      border-radius: 200px;
      margin-top: auto;
      color: $darkgrey-color-2;
    }
  }
  &-main {
    gap: 8.125rem;

    .col {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      &:first-of-type {
        width: 40%;
      }
      &:last-of-type {
        width: 60%;
      }
    }

    + .contact-main {
      margin-top: 3.75rem;
    }

    &-hours {
      font-size: 1.25rem;
      &-part {
        margin-top: 1.875rem;
        color: $darkgrey-color-2;
        &:first-of-type {
          margin-top: 2rem;
        }
        &:last-of-type {
          margin-bottom: 2rem;
        }
        p:not(:first-of-type) {
          font-weight: 500;
          font-family: $heading-font;
          margin-top: 0.75rem;
        }
      }
    }
  }
  &-direction {
    gap: 2.5rem;
    margin: 1.875rem 0 3.125rem;
    &-video {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
    }
    &-map {
      width: 100%;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &-address {
    &-text {
      position: relative;
      font-size: 1.25rem;
      padding-left: 1.75rem;
      color: $darkgrey-color-2;
      margin: 1rem 0 1.25rem;
      line-height: 156%;

      &:before {
        content: "";
        position: absolute;
        width: 1.3125rem;
        height: 1.625rem;
        background-image: url(../img/icons/location.svg);
        background-position: center;
        background-repeat: no-repeat;
        left: 0;
        top: 0;
        display: inline-block;
      }
    }
  }
  &-info {
    margin-top: 2.25rem;
    &-link {
      display: flex;
      align-items: center;
      font-size: 1.25rem;
      color: $darkgrey-color-2;
      text-decoration: none;

      &-icon {
        margin-right: 0.375rem;
        max-height: 1.5rem;
      }

      + .contact-info-link {
        margin-top: 1.25rem;
      }
      &-text {
        display: flex;
        align-items: center;
        font-size: 1.25rem;
        color: $darkgrey-color-2;
        .contact-info-link {
          margin-right: 0.5rem;
          color: $blue-color;
        }
        + .contact-info-link-text {
          margin-top: 1.5rem;
        }
      }
    }
  }
  &-social {
    justify-content: space-between;
    margin-top: 3.75rem;
    &-item {
      background: #ffffff;
      box-shadow: 0px 69.9464px 28.1394px rgba(130, 130, 130, 0.01), 0px 39.3951px 23.3155px rgba(130, 130, 130, 0.05),
        0px 17.6876px 17.6876px rgba(130, 130, 130, 0.09), 0px 4.01991px 9.64778px rgba(130, 130, 130, 0.1),
        0px 0px 0px rgba(130, 130, 130, 0.1);
      border-radius: 1rem;
      min-width: 16.6rem;
      max-width: 16.625rem;
      &-photo {
        position: relative;
        overflow: hidden;
        height: 10rem;
        display: flex;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 100%;
        }
      }
      &-top {
        display: flex;
        align-items: center;
        padding: 0.9375rem 1.125rem;
        text-decoration: none;
      }
      &-company {
        color: #554f4f;
        font-size: 11px;
        margin-left: 0.5rem;
      }
      &-content {
        padding: 0.5rem 1.25rem 1rem;
        p {
          margin: 0.3125rem 0;
          font-size: 0.5rem;
          color: #554f4f;
        }
        &-company {
          font-size: 0.625rem;
        }
        &-link {
          color: $blue-color;
          text-decoration: none;
          font-weight: 700;
        }
      }
    }
  }
}

.intro {
  &-sect {
    background-color: $blue-color;
    padding: 0;
    &:first-of-type {
      margin-top: -1.875rem;
    }

    .h1,
    .text {
      color: white;
    }

    .btn-medium {
      padding: 1.5rem;
    }
  }
  &-row {
    display: flex;
    align-items: center;
  }
  &-left {
    position: relative;
    z-index: 1;
    .text {
      margin-bottom: 1.5rem;
      max-width: 28.125rem;
    }
  }
  &-right {
    &-img {
      max-width: 800px;
    }
  }
  &-wave {
    &-sect {
      position: relative;
      // padding-bottom: 11rem;
      background-image: url(../img/other/header-wave-decor.svg);
      background-size: cover;
      background-position: -500px -70px;

      &:after {
        content: "";
        background-image: url(../img/other/header-wave.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 12vw;
        position: absolute;
        bottom: 0;
      }
    }
  }
  &-coworking,
  &-rent,
  &-community {
    &-sect {
      padding: 3.75rem 0 6vw;
      .intro-row {
        align-items: flex-start;
      }
      .intro-right {
        margin-right: 10rem;
        margin: 0 10rem 0 auto;
        &-img {
          max-width: 400px;
        }
      }
    }
  }
  &-rent {
    &-sect {
      .main-heading {
        max-width: 25rem;
      }
      .intro-right {
        &-img {
          max-width: 480px;
        }
      }
      .intro-left .text {
        max-width: 31.125rem;
      }
    }
  }
  &-community {
    &-sect {
      .main-heading {
        max-width: 25rem;
      }
    }
  }
}

.success {
  &-sect {
    margin-bottom: 2rem;
  }
  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.75rem;
    margin: 3.75rem 0;
  }
  &-item {
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    &-img {
      position: relative;
      width: 340px;
      height: 340px;
      margin: 0 auto 1rem;
      overflow: hidden;
      &-bg {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      &-photo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        max-width: 240px;
      }
    }
    &-info {
      text-align: center;
      margin: 0 0 1.5rem;
    }
    &-main {
      padding: 0 1.5rem 1.5rem;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
    &-course {
      font-size: 0.9375rem;
      color: $darkgrey-color-2;
      margin: 0.5rem 0 0;
      font-weight: 500;
      font-family: $heading-font;
      &-link {
        color: $darkgrey-color-2;
      }
    }
    &-desc {
      font-size: 0.9375rem;
      line-height: 143.49%;
      color: $darkgrey-color-2;
    }
    &-date {
      display: block;
      text-align: right;
      font-size: 0.75rem;
      margin: 1.5rem 0 1rem;
    }
    &-link {
      &-container {
        display: flex;
        margin-top: auto;

        .btn + .btn {
          margin-left: 0.75rem;
        }
      }
    }
    &.hidden {
      display: none;
    }
  }
}

.review {
  &-row {
    margin: 3.75rem 0 7.5rem;
    display: flex;
    align-items: center;
  }
  &-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.125rem 1.25rem;
    max-width: 40rem;
    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }
    &-item {
      background-color: white;
      border-radius: 1rem;
      padding: 0.5rem 1rem 1rem 1rem;
      transition: .3s;
      &:hover {
        transform: translateY(-.5rem);
      }
      &-logo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;
        img {
          max-width: 4.5rem;
          max-height: 2.5rem;
        }
      }
      &-rate {
        font-weight: 700;
        font-size: 2.625rem;
        line-height: 156%;
        font-family: $heading-font;
        color: $green-color;
        text-align: center;
        margin-bottom: 0.5rem;
      }
    }
  }
  &-average {
    position: relative;
    display: flex;
    margin-left: 4rem;
    &-decor {
      position: relative;
      max-height: 340px;
    }
    &-star {
      background-image: url(../img/review/star.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 18.125rem;
      height: 17.5rem;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 5rem;
      font-family: $heading-font;
      font-weight: 700;
      margin-left: -4rem;
    }
  }
  &-video {
    &-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3.75rem 1.625rem;
      margin: 3.75rem 0;
    }
    &-item {
      &-iframe {
        width: 100%;
        height: 14.3rem;
        border-radius: 1rem;
      }
      &-name {
        margin: 1rem 0 0;
        text-align: center;
        font-size: 0.9375rem;
        color: $darkgrey-color-1;
        font-family: $heading-font;
        line-height: 143.49%;
      }
    }
  }
}

.metro-line {
  font-size: 0.9375rem;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.3125rem;
  border-radius: 1.25rem;
  font-weight: 500;
  color: white;

  &-heading {
    display: flex;
    align-items: center;
  }

  &-green {
    background-color: #3aa53a;
  }

  &-brown {
    background-color: #7f5039;
  }
}

.swiper {
  &-review {
    margin-bottom: 7.5rem;
    &-slide {
      &-inner {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        min-height: 500px;
        &-1 {
          .swiper-review-slide-img-link:nth-of-type(1) {
            img {
              width: 501px;
            }
          }
          .swiper-review-slide-img-link:nth-of-type(2) {
            top: 136px;
            img {
              width: 501px;
            }
          }
          .swiper-review-slide-img-link:nth-of-type(3) {
            top: 245px;
            img {
              width: 479px;
            }
          }
          .swiper-review-slide-img-link:nth-of-type(4) {
            top: 378px;
            img {
              width: 479px;
            }
          }
          .swiper-review-slide-img-link:nth-of-type(5) {
            top: 0;
            left: 511px;
            img {
              width: 355px;
            }
          }
          .swiper-review-slide-img-link:nth-of-type(6) {
            top: 245px;
            left: 489px;
            img {
              width: 380px;
            }
          }
          .swiper-review-slide-img-link:nth-of-type(7) {
            top: 378px;
            left: 489px;
            img {
              width: 569px;
            }
          }
          .swiper-review-slide-img-link:nth-of-type(8) {
            top: 0;
            left: 875px;
            img {
              width: 282px;
            }
          }
          .swiper-review-slide-img-link:nth-of-type(9) {
            top: 138px;
            left: 867px;
            img {
              width: 273px;
            }
          }
        }
        &-2 {
          .swiper-review-slide-img-link:nth-of-type(1) {
            img {
              width: 626px;
            }
          }
          .swiper-review-slide-img-link:nth-of-type(2) {
            top: 306px;
            img {
              width: 190px;
            }
          }
          .swiper-review-slide-img-link:nth-of-type(3) {
            top: 306px;
            left: 205px;
            img {
              width: 223px;
            }
          }
          .swiper-review-slide-img-link:nth-of-type(4) {
            top: 378px;
            img {
              width: 443px;
            }
          }
          .swiper-review-slide-img-link:nth-of-type(5) {
            top: 0;
            left: 641px;
            img {
              width: 519px;
            }
          }
          .swiper-review-slide-img-link:nth-of-type(6) {
            top: 198px;
            left: 641px;
            img {
              width: 519px;
            }
          }
          .swiper-review-slide-img-link:nth-of-type(7) {
            top: 317px;
            left: 454px;
            img {
              width: 703px;
            }
          }
        }
      }
      &-img-link {
        position: absolute;
      }
      &-img {
        width: 100%;
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    background-color: $bg-color-3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    transition: 0.3s;

    &:hover {
      background-color: $lightblue-color-3;

      &:after {
        background-image: url(../img/icons/swiper-left-hover.svg);
      }
    }

    &:after {
      background-image: url(../img/icons/swiper-left.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 9px;
      height: 16px;
      display: inline-block;
      font-size: 0;
    }
  }

  .swiper-button-next {
    &:after {
      background-image: url(../img/icons/swiper-right.svg);
    }

    &:hover {
      background-color: $lightblue-color-3;

      &:after {
        background-image: url(../img/icons/swiper-right-hover.svg);
      }
    }
  }
}

.feature {
  &-container {
    margin: 7.5rem auto;
  }
  &-row {
    display: flex;
    gap: 2rem;
    margin: 2rem 0 5rem;
  }
  &-item {
    background-color: white;
    border-radius: 1rem;
    padding: 2.25rem 2.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex: 1 1 100%;
    transition: .3s;
    &:hover {
      transform: translateY(-.5rem);
    }
    &-icon {
      max-width: 5rem;
      &-container {
        min-height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &-heading {
      color: $darkgrey-color-1;
      font-size: 1rem;
      margin-bottom: 0.75rem;
      font-weight: 600;
      font-family: $heading-font;
    }
    &-vertical {
      flex-direction: column;
      padding: 0.75rem 0.75rem 1.5rem;
      gap: 1rem;
      .feature-item-heading {
        text-align: center;
        font-weight: 400;
      }
      .text-small {
        font-size: 0.75rem;
      }
    }
    &-bottom {
      position: relative;
      padding: 1.5rem 1.5rem 6.5rem;
      .feature-item-icon {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
      }
    }
  }
}

.job {
  &-list {
    display: flex;
    flex-direction: column;
    &-item {
      display: flex;
      align-items: flex-end;
      padding: 2rem 1rem 4rem 0;
      border-top: 1px solid #c8c8c8;
      &:last-of-type {
        border-bottom: 1px solid #c8c8c8;
      }
      &-name {
        &-heading {
          font-size: 1.5625rem;
          font-weight: 700;
          font-family: $heading-font;
          color: $darkgrey-color-1;
        }
      }
      &-type {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 1rem;
        &-badge {
          background-color: $lightblue-color-2;
          color: $darkgrey-color-3;
          border-radius: 1.5rem;
          padding: 0.5rem 1rem;
          font-size: 0.75rem;
          cursor: default;
        }
      }
      &-more {
        margin-left: auto;
        display: flex;
        gap: 1rem;
      }
    }
  }
  &-filters {
    display: flex;
    margin: 2.75rem 0 3rem;
    gap: 10px;
  }
  &-filter {
    background-color: #ffffff;
    border-radius: 40px;
    font-size: 0.8125rem;
    padding: 0.625rem 1rem;
    color: $darkgrey-color-1;
    font-family: $heading-font;
    cursor: pointer;
    transition: 0.3s;
    &.active {
      background-color: $blue-color;
      color: white;
      font-weight: 700;
    }
  }
}

.job,
.gift {
  &-form {
    &-sect {
      margin: 7.5rem 0 3.75rem;
    }
    &-row {
      display: flex;
      position: relative;
    }
    &-col {
      width: 36rem;
      position: relative;
      .text {
        font-size: 1.25rem;
        margin-bottom: 2rem;
      }
    }
    &-decor {
      position: absolute;
      left: calc(100% - 4px);
      bottom: -14px;
      max-width: 570px;
    }
  }
}

.gift {
  &-form {
    &-col {
    }
    &-decor {
      max-width: 340px;
      margin-left: 10rem;
    }
  }
  &-step {
    &-sect {
      margin-top: 7.5rem;
    }
    &-row {
      display: flex;
    }
    &-item {
      flex-grow: 1;
      flex-basis: 33%;
      position: relative;
      &-number {
        font-family: $heading-font;
        font-weight: 700;
        font-size: 13rem;
        color: #9cc0ff;
        opacity: 0.25;
        line-height: 0.5;
      }
      &-text {
        position: absolute;
        bottom: 0;
        left: 3.75rem;
        max-width: 18.75rem;
      }
      &-heading,
      &-desc {
        font-family: $heading-font;
        color: $darkgrey-color-1;
      }
      &-heading {
        font-weight: 700;
        font-size: 1.5625rem;
      }
      &-desc {
        font-size: 1.25rem;
        line-height: 1.4;
      }
    }
  }
}

.coworking {
  &-plan {
    &-container {
      margin: 5.625rem 0 7.5rem;
    }
    &-row {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
    &-col {
      flex-grow: 1;
      &-inner {
        display: flex;
        gap: 1.625rem;
      }
      &:first-of-type {
        margin-right: 0.8125rem;
      }
      &:not(:first-of-type) {
        margin-left: 0.8125rem;
      }
    }
    &-item {
      background-color: white;
      border-radius: 0.625rem;
      padding: 2.25rem 3.625rem 1.5rem;
    }
    &-girl {
      max-width: 200px;
      margin: 0 1rem;
    }
    &-name {
      font-weight: 700;
      margin-bottom: 0.75rem;
    }
    &-price {
      font-family: $heading-font;
      font-size: 2.625rem;
      font-weight: 500;
      margin: 1rem 0;
    }
    &-action {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    &-list {
      display: flex;
      flex-direction: column;
      min-height: 240px;
      list-style: none;
      padding: 0;
      margin: 1rem 0 0;
      li {
        font-size: 15px;
        color: #4f4f4f;
        padding: 15px 0;
        border-bottom: 1px solid #999;
        &:last-of-type {
          border-bottom: 0;
        }
      }
    }
    &-note {
      color: #999;
      margin-top: 2.25rem;
      font-size: 0.75rem;
    }
  }
}

.rent {
  &-plan {
    &-row {
      .coworking-plan-item {
        padding: 1.25rem 1.875rem;
        flex-grow: 1;
        flex-basis: 50%;
      }
      .coworking-plan-name {
        font-size: 15px;
        font-family: $heading-font;
      }
      .coworking-plan-price {
        font-size: 1.5625rem;
        margin: 0.5rem 0 1rem;
      }
      .coworking-plan-note {
        margin-top: 0.25rem;
        font-size: 0.625rem;
      }
      .coworking-plan-action {
        gap: 0.5rem;
      }
    }
  }
  &-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 51.875rem;
    gap: 3rem;
    margin: 1.5rem auto 0;
    &-img {
      max-width: 10rem;
    }
    &-text {
      font-weight: 700;
      font-size: 1.5625rem;
      line-height: 1.3;
      font-family: $heading-font;
    }
  }
}

.community {
  &-plan {
    &-container {
      margin: 5.625rem 0 7.5rem;
    }
  }
  &-help {
    &-row {
      margin: 5rem 0 6.25rem;
      display: flex;
      justify-content: space-between;
    }
    &-item {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      max-width: 15rem;
      &-img {
        max-width: 150px;
      }
      &-text {
        margin-top: 1rem;
        font-size: 1.25rem;
        text-align: center;
        color: $darkgrey-color-1;
        font-family: $heading-font;
      }
    }
  }
  &-choose {
    &-container {
      margin: 7.5rem 0;
    }
    &-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2.5rem;
    }
    &-item {
      background-color: white;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1.875rem 1.375rem 2.25rem;
      transition: .3s;
      &:hover {
        transform: translateY(-.5rem);
      }
      &-img {
        max-width: 12.5rem;
        margin-bottom: 1.5625rem;
      }
      &-name {
        margin-bottom: 1.5rem;
        font-size: 22px;
        font-family: $heading-font;
        font-weight: 700;
      }
      &-text {
        font-size: 20px;
        color: $darkgrey-color-1;
        line-height: 1.5;
        margin-bottom: 1.25rem;
      }
    }
  }
  &-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 55rem;
    gap: 3rem;
    margin: 1.5rem auto 0;
    &-img {
      max-width: 10rem;
    }
    &-text {
      font-weight: 700;
      font-size: 2.625rem;
      line-height: 1.3;
      font-family: $heading-font;
    }
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  margin-top: 3.75rem;
  &-row {
    width: 100%;
    display: flex;
    gap: 1.5rem;
    &-item {
      img {
        max-width: 100%;
      }
    }
    &-column {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
    }
  }
}

// lightbox
.vbox-backdrop {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.vbox-link {
  outline: none;
}

.vbox-container img {
  max-height: 85vh;
}

.vbox-next,
.vbox-prev {
  background-color: $bg-color-3;
  border-radius: 50%;

  span {
    width: 14px;
    height: 14px;
    border: 3px solid transparent;
    border-top-color: #51545e;
    border-right-color: #51545e;
    right: auto;
    left: 44%;
    top: 50%;
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.vbox-prev {
  span {
    left: 56%;
    -ms-transform: translate(-50%, -50%) rotate(-135deg);
    -webkit-transform: translate(-50%, -50%) rotate(-135deg);
    transform: translate(-50%, -50%) rotate(-135deg);
  }
}
