//include third-party fonts

@mixin font-face($font-name, $file-name, $font-weight, $font-style) {
	@font-face {
		font-family: quote($font-name);
		font-style: $font-style;
		font-weight: $font-weight;
		src: url("../fonts/"+ $file-name + ".woff2") format("woff2"),
			url("../fonts/"+ $file-name + ".woff") format("woff");
		font-display: swap;
	}
}

// @include font-face(FontName, FontWeight-FileName, 400, normal);
@include font-face(Golos Text, GolosText_Regular, 400, normal);
@include font-face(Golos Text, GolosText_Medium, 500, normal);
@include font-face(Golos Text, GolosText_DemiBold, 600, normal);
@include font-face(Golos Text, GolosText_Bold, 700, normal);
@include font-face(Golos Text, GolosText_Black, 900, normal);