.footer {
  position: relative;
  overflow-x: hidden;

  &-inner {
    background-color: $blue-color-1;
    position: relative;
    margin-top: 12vw;

    @media (max-width: 1920px) {
      margin-top: 15rem;
    }
  }

  &-bg {
    position: absolute;
    width: 100vw;
    transform: translateX(-50%);
    left: 50%;
    bottom: calc(100% - 1px);

    @media (max-width: 1920px) {
      width: 120rem;
    }
  }

  .container {
    transform: translateY(-7rem);
    z-index: 2;
    position: relative;
  }

  &-logo {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/other/footer-bg-decor.svg);
    background-position: center top;
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover;
  }

  * {
    color: white;
  }

  &-col {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
  }

  .row {
    position: relative;
    z-index: 1;
  }

  &-social {
    display: flex;
    align-items: center;
    gap: 0.375rem;
    margin-bottom: 1rem;
  }

  &-link {
    &-container {
      list-style: none;
      padding: 0;
      margin: 1rem 2rem 0 0;
    }
    &-item {
      margin: 0.75rem 0;
      a {
        text-decoration: none;
        font-size: 0.9375rem;
        font-family: $heading-font;
        color: $lightgrey-color-1;
        &:hover {
          color: $lightblue-color-3;
        }
      }
    }
  }

  &-contact {
    &-address {
      font-size: 0.9375rem;
      line-height: 156%;
      font-family: $heading-font;
      margin-top: 1rem;
      max-width: 10.625rem;
    }
    &-center {
      &-tel {
        font-weight: 700;
        font-size: 0.9375rem;
        margin-bottom: 0.25rem;
        text-decoration: none;
        display: inline-block;
        transition: .3s;
        &:hover {
          color: $lightblue-color-3;
        }
      }
      &-text {
        font-size: 0.75rem;
        color: $lightgrey-color-1;
      }
    }
  }

  &-copyright {
    margin-top: auto;
    font-size: 0.625rem;

    p {
      margin-top: 0.5rem;
    }

    a {
      text-decoration: none;

      &:hover {
        color: $lightblue-color-3;
      }
    }
  }

  .academy-dropdown {
    border-left: 2px solid white;
    &-item,
    .academy-dropdown-item-chosen {
      color: white;
      cursor: default;
      font-size: 0.9375rem;
    }
  }
}

body.offline {
  .footer {
    .academy-dropdown-item-offline {
      display: inline-block;
    }
  }
}

body.online {
  .footer {
    .academy-dropdown-item-online {
      display: inline-block;
    }
  }
}

body.kids {
  .footer {
    .academy-dropdown-item-kids {
      display: inline-block;
    }
  }
}
