.form {
  display: flex;
  flex-direction: column;
  width: 100%;

  &-row {
    display: flex;
    align-items: center;
    gap: 2rem;

    &-submit {
      margin-top: 1.75rem;

      * {
        flex: 1 1 auto;
        flex-basis: 50%;
      }
    }

    * {
      flex-grow: 1;
    }

    &-container {
      display: flex;
      align-items: flex-start;
      margin-top: 1rem;
    }
  }

  &-label,
  &-input {
    width: 100%;
  }
  &-label {
    margin-bottom: 1rem;
    display: block;
  }
  &-input {
    background: white;
    border: 0.5px solid $grey-color-2;
    border-radius: 50px;
    padding: 1.5rem 2.75rem;
    font-size: 1.25rem;
    outline: none;
    transition: 0.3s;

    &::placeholder {
      color: $grey-color-2;
    }

    &:hover,
    &:focus {
      border-color: $lightblue-color-1;
    }
  }

  &-upload {
    display: inline-block;
    cursor: pointer;

    label {
      cursor: pointer;
      font-size: 20px;
      color: $grey-color-2;

      &::after {
        content: "";
        background-image: url(../img/icons/upload.svg);
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        width: 0.75rem;
        height: 0.8125rem;
        margin: 0 0.5rem;
      }
    }

    &-msg {
      display: none;

      &-filled {
        display: inline-block;
        font-size: 20px;
        color: $grey-color-2;
      }
    }
  }

  &-policy {
    color: $grey-color-2;
    font-size: 12px;
  }

  /* The container */
  &-label-check {    
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 3.5rem;
    cursor: pointer;
    font-size: 1.375rem;
    user-select: none;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 1.875rem;
      width: 1.875rem;
      transition: 0.3s;
      border: 1px solid $lightgrey-color-2;
    }

    input:checked ~ .checkmark {
      background-color: $blue-color-1;
      border-color: $blue-color-1;
      &:after {
        display: block;
      }
    }

    input[type="radio"] ~ .checkmark {
      border-radius: 50%;
    }

    &:hover input ~ .checkmark {
      background-color: $blue-color-1;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
      left: 0.625rem;
      top: 0.375rem;
      width: 0.3125rem;
      height: 0.625rem;
      border: solid white;
      border-width: 0 0.1875rem 0.1875rem 0;
      transform: rotate(45deg);
    }

    input[type="radio"] ~ .checkmark:after {
      left: 0.55rem;
      top: 0.55rem;
      width: 0.3rem;
      height: 0.3rem;
      border-width: 0.1875rem;
      background-color: white;
      border-radius: 50%;
    }
  }
}
