.form {
  display: flex;
  flex-direction: column;
  width: 100%;

  &-row {
    display: flex;
    align-items: center;
    gap: 2.75rem;

    &-submit {
      margin-top: 2.75rem;
    }

    * {
      flex-grow: 1;
    }
  }

  &-label,
  &-input {
    width: 100%;
  }
  &-label {
    margin-top: 1rem;
  }
  &-input {
    background: white;
    border: 0.5px solid $grey-color-2;
    border-radius: 50px;
    padding: 1.5rem 2.75rem;
    font-size: 1.25rem;
    outline: none;

    &::placeholder {
      color: $grey-color-2;
    }
  }

  &-upload {
    display: inline-block;
    cursor: pointer;

    label {
      cursor: pointer;
      font-size: 20px;
      color: $grey-color-2;

      &::after {
        content: "";
        background-image: url(../img/icons/upload.svg);
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        width: 0.75rem;
        height: 0.8125rem;
        margin: 0 .5rem;
      }
    }

    &-msg {
        display: none;

        &-filled {
            display: inline-block;
            font-size: 20px;
            color: $grey-color-2;
        }
    }
  }

  &-policy {
    color: $grey-color-2;
    font-size: 12px;
  }
}
