.nav {
  margin-left: auto;
  &-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    &-item {
      position: relative;
      &:hover {
        .nav-list-link {
          background: #ffffff;
          border-radius: 3.125rem;
          font-weight: bold;
        }
        .dropdown-content,
        .dropdown-content-inner {
          display: flex;
        }
      }
      &:last-of-type {
        margin-left: 0.75rem;
      }
    }
    &-link {
      font-family: $heading-font;
      text-decoration: none;
      color: $darkgrey-color-1;
      font-size: 0.9375rem;
      padding: 0.75rem 0.9375rem;
      transition: 0.3s;
      cursor: pointer;
    }
  }
}

.header {
  padding: 30px 0;
  &-container {
    display: flex;
    align-items: center;
  }
  &-left {
    display: flex;
    align-items: center;
  }
}

.main-map-box-wrapp .main-map-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-map-box-wrapp .main-map-box svg {
  text-align: left;
  overflow: visible;
}

.dropdown-close {
  position: absolute;
  right: 60px;
  top: 20px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.academy-dropdown {
  padding: 0 1.5rem 0 0.5rem;
  margin: 0 1.875rem 0 0.4rem;
  border-left: 2px solid $blue-color;
  height: 55px;
  width: 130px;
  position: relative;
  cursor: pointer;
  &.is-open {
    .academy-dropdown-item {
      display: block;
    }

    &:after {
      transform: translateY(-50%) rotate(180deg);
    }
  }
  &-item,
  .academy-dropdown-item-chosen {
    color: $blue-color;
    font-weight: 700;
    font-size: 0.9375rem;
    font-family: $heading-font;
    padding: 0.5rem 0;
    text-decoration: none;
    display: none;
    text-align: left;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    max-width: 100px;
  }
  .academy-dropdown-item-chosen {
    display: block;
  }
  &-item {
    &:not(:first-of-type) {
      font-size: 0.75rem;
      font-weight: 700;
      font-family: $heading-font;
    }
    &.active {
      display: none;
    }
  }
  &:after {
    content: "";
    background-image: url(../img/icons/dropdown-blue.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 0.875rem;
    height: 0.5rem;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: .3s;
  }
}

.academy-dropdown.is-open .academy-dropdown-item.active {
  display: none;
}

.dropdown {
  &-content {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    min-width: 16.5625rem;
    padding-top: 1.5rem;
    flex-direction: column;
    &-inner {
      background: #ffffff;
      border-radius: 0.625rem;
      padding: 1.5rem 1.25rem 1.5rem 2.8125rem;
      flex-direction: column;
    }
    &-link {
      font-family: $heading-font, sans-serif;
      color: $darkgrey-color-1;
      font-size: 0.9375rem;
      margin: 0;
      text-decoration: none;
      transition: 0.3s;

      + .dropdown-content-link {
        margin-top: 0.5rem;
      }

      &:hover {
        color: $red-color-1;
      }

      &:active {
        font-weight: bold;
      }
    }
  }
}

.location {
  &-dropdown {
    &-inner {
      display: none;
      // display: flex;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 1280px;
      margin-top: 1.5rem;
      border-radius: 1rem;
      overflow: hidden;
      @include fadeOut;

      &.active {
        @include fadeIn;
        z-index: 1;
        display: flex;
      }

      @media (max-width: 1280px) {
        max-width: 100%;
      }
    }

    &-heading {
      font-family: $heading-font;
      font-size: 1.75rem;
      font-weight: 600;
      margin: 0 0 1rem;
      color: $darkgrey-color-1;
    }

    &-left {
      background-color: $bg-color-2;
      padding: 1.875rem 4rem;
      border-radius: 1rem 0 0 1rem;
    }

    &-right {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0 1rem 1rem 0;
      padding: 0 1rem;
      flex-grow: 1;
      min-width: 60%;
    }

    &-trigger {
      position: relative;

      &:hover {
        font-weight: 400;
      }

      &.active {
        .btn-icon-right {
          transform: rotate(180deg);
        }
      }
    }

    &-list {
      padding: 0 0 0 2.5rem;
      margin: 1rem 0 2rem;
      list-style: none;

      li {
        display: flex;
        align-items: center;
        color: $darkgrey-color-1;
        font-size: 0.9375rem;
        &:before {
          content: "";
          display: inline-block;
          background-image: url(../img/icons/location.svg);
          background-size: contain;
          background-repeat: no-repeat;
          width: 0.875rem;
          height: 1.0625rem;
          margin-right: 0.3125rem;
        }
        + li {
          margin-top: 1.25rem;
        }

        a {
          text-decoration: none;
          color: $darkgrey-color-1;
          transition: 0.3s;

          &:hover {
            font-weight: 700;
          }
        }
      }
    }
    &-future {
      &-list {
        li {
          color: $grey-color-1;
          &:before {
            background-image: url(../img/icons/location-grey.svg);
          }
        }
      }
    }
  }
}

.courses {
  &-dropdown {
    &-inner {
      display: none;
      // display: flex;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 1280px;
      margin-top: 1.5rem;
      @include fadeOut;

      &.active {
        // display: flex;
        @include fadeIn;
        z-index: 1;
        display: flex;
      }

      @media (max-width: 1280px) {
        max-width: 100%;
      }
    }

    &-trigger {
      margin-left: 1rem;
      position: relative;

      &:hover {
        background-color: transparent;
        font-weight: 400;
        border-color: $darkgrey-color-1;
        color: $darkgrey-color-1;
      }

      &.active {
        .btn-icon-right {
          transform: rotate(180deg);
        }
      }
    }

    &-heading {
      font-weight: 600;
      font-size: 1.375rem;
      color: $blue-color;
      margin-bottom: 1.25rem;
      padding-left: 4rem;
    }
  }
  &-badge {
    padding: 0.1875rem 0.5rem;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    font-size: 0.75rem;
    border-radius: 1rem;
    margin-left: 0.25rem;

    &-top {
      background-color: $red-color-1;
    }

    &-sale {
      background-color: $lightblue-color-1;
    }

    &-new {
      background-color: $blue-color;
    }
  }
  &-social {
    display: flex;
    margin-top: auto;

    &-sign {
      font-weight: 600;
    }

    &-link {
      &-list {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-left: 1rem;

        a {
          transition: .3s;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}

.courses-tabcontent {
  &-heading {
    font-family: $heading-font;
    font-weight: 600;
    font-size: 1.25rem;
  }
  &-list {
    padding: 0;
    list-style: none;
    margin: 1.25rem 0 1.875rem;

    li {
      margin-bottom: 1rem;

      a {
        text-decoration: none;
        color: $darkgrey-color-1;
        font-size: 0.9375rem;
        font-family: $heading-font;
        transition: 0.3s;

        &:hover {
          font-weight: 700;
        }
      }
    }
  }
  &-event {
    margin-bottom: 1.75rem;
    &-heading {
      font-weight: 600;
      font-size: 1.375rem;
      color: $blue-color;
      font-family: $heading-font;
      margin-bottom: 1.25rem;
    }
    &-item {
      background-color: white;
      border-radius: 1rem;
      display: flex;
      position: relative;
      overflow: hidden;

      + .courses-tabcontent-event-item {
        margin-top: 1rem;
      }
    }
    &-img {
      position: relative;
      min-width: 140px;
      border-radius: 0 50% 50% 0;
      background: $lightblue-color-1;
      overflow: hidden;

      &-person {
        position: absolute;
        bottom: -5px;
        left: 0px;
        width: 140px;
      }
    }
    &-desc {
      padding: 1rem 1rem 1.5rem 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &-date {
        margin: 0.5rem 0 1.2rem;
        font-weight: 700;
        font-size: 0.75rem;
        text-align: center;
        color: $blue-color;
      }

      &-heading {
        color: $red-color-1;
        font-weight: 600;
        font-size: 0.9375rem;
        font-family: $heading-font;
      }

      &-text {
        margin: 0.5rem 0;
        font-size: 0.75rem;
        max-width: 150px;
      }

      .btn {
        font-size: 0.75rem;
      }
    }
  }
}


/* ----- Map ------------------- */
.main-map-modal path {
  fill: $blue-color;
  stroke-width: 2px;
  stroke: white;
}

.main-map-modal__item path {
  fill: $red-color-2;
  transition: .3s;
}

.main-map-modal__item a:hover path {
  fill: $red-color-2;
}

.main-map-modal__item a:hover .btn-city, .btn-city:hover {
  transform: scale(1.1);
  transform-origin: center;
}

.main-map-modal__item a {
  position: relative;
  display: block;
}

.main-map-modal__item a:after, .main-map-modal__item a:before, .main-map-modal__item a span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 200px;
  background-color: #000;
  z-index: 2000000000;
}

.main-map-modal__item foreignObject {
  width: 425px;
  height: 111px;
}

.main-map-modal__item_city-1 foreignObject {
  x: 206;
  y: 570;
}

.main-map-modal__item_city_msk foreignObject {
  x: 197;
  y: 750;
}

.main-map-modal__item_city_nn foreignObject {
  x: 307;
  y: 827;
}

.main-map-modal__item_city_kazan foreignObject {
  x: 260;
  y: 940;
}

.main-map-modal__item_city-5 foreignObject {
  x: 347;
  y: 980;
}

.main-map-modal__item_city_izhevsk foreignObject{
  x: 530;
  y: 907;
}

// .main-map-modal__item_city_samara foreignObject{
//   x: 380;
//   y: 1100;
// }

.main-map-modal__item_city_krasnodar foreignObject{
  x: 50;
  y: 1110;
  width: 410px !important;
}

// .main-map-modal__item_city_vrn foreignObject{
//   x: -150;
//   y: 975;
//   width: 420px !important;
// }

.btn-city {
  display: inline-block;
  box-shadow: 0 6px 27px rgba(44, 52, 77, 0.26);
  border-radius: 50px;
  background-color: #fff;
  color: #1f1f1f;
  font-weight: 400;
  padding: 10px 27px;
  position: relative;
  margin: 30px;
  font-size: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: .3s;
}

// .btn-city:after {
//   content: " ";
//   position: absolute;
//   top: 50%;
//   left: 15px;
//   width: 11px;
//   height: 15px;
//   margin-top: -7px;
//   background: url(../img/main-marker.png) center center no-repeat;
//   background-size: contain;
// }

// .btn-city:before {
//   content: " ";
//   position: absolute;
//   top: 100%;
//   left: 10px;
//   border-top: 5px solid #fff;
//   border-left: 3px solid transparent;
//   border-right: 3px solid transparent;
// }

.main-map-modal__item_active path {
  fill: #d35e6e;
}

.content-modal-map {
  margin-left: -15px;
  margin-right: -15px;
  padding: 1px;
}

.content-modal_bg-second.content-modal.content-modal-map:after {
  content: none;
  display: none;
}

.main-map-box-wrapp {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  text-align: left;
  margin-right: auto;
}

.main-map-box-wrapp .main-map-box {
  width: 2415px;
  height: 1422px;
  padding: 20px;
  margin-top: -540px;
  margin-left: -240px;
}

.main-map-box-wrapp .mCSB_container_wrapper {
  margin-right: 0;
  margin-bottom: 0;
}

.main-map-modal {
  height: 100%;
  width: 100%;
}

.fancybox-slide--html .fancybox-content {
  margin: 0;
}

/* Min width 480 pixels */
@media only screen and (min-width: 480px) {
  .main-map-box-wrapp .main-map-box {
      margin-top: -430px;
      margin-left: -160px;
  }
  /* end media min width 480 pixels */
}

/* Min width 640 pixels */
@media only screen and (min-width: 640px) {
  .main-map-box-wrapp .main-map-box {
      margin-top: -400px;
      margin-left: 0;
  }
  /* end media min width 640 pixels */
}

/* Min width 768 pixels */
@media only screen and (min-width: 768px) {
  .main-map-box-wrapp .main-map-box {
      margin-top: -400px;
      margin-left: 0;
  }
  /* end media min width 768 pixels */
}

/* Min width 1000 pixels */
@media only screen and (min-width: 1000px) {
  .main-map-box-wrapp {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 50%;
      margin-left: -240px;
      width: auto;
      overflow: hidden;
      margin-right: 0;
      height: auto;
  }
  .content-modal_bg-second.content-modal.content-modal-map:after {
      content: "";
      display: block;
  }
  /* end media min width 1000 pixels */
}

/* Min width 1000 pixels */
@media only screen and (min-width: 1000px) and (max-height: 800px) {
  .w-box_map-modal .checked-list li:last-child {
      margin-bottom: 0;
  }
  .w-box_map-modal .w-aside__back-link {
      margin-top: -20px;
  }
  /* end media min width 1000 pixels */
}

/* ----- END Map --------------- */