.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.2) translate(0, -50%);
  transition: 0.3s;
  z-index: 9;

  &:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    bottom: -100%;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    transition: 0.3s;
    z-index: 8;
    transform: translateZ(0);
    will-change: transform;
  }

  &-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 65rem;
    z-index: 9;
    width: calc(100vw - 32px);
    border-radius: 1rem;
    background-color: white;
    max-height: 90vh;
    overflow: auto;

    &-small {
      max-width: 50rem;
    }
  }

  &-form {
    .modal-content {
      padding: 6.5625rem;
      @media (max-width: 1440px) {
        padding: 5rem;
      }
    }

    .h3 {
      font-size: 2.1875rem;
      margin-bottom: 2rem;
    }
  }

  &-content {
    position: relative;

    &-thanks {
      display: none;
      background-color: $blue-color;
      position: relative;

      &-heading,
      .text {
        color: white;
      }

      &-heading {
        font-weight: 700;
        font-size: 6.875rem;
        font-family: $heading-font;
        margin-bottom: .5rem;
      }

      .text {
        margin: 1rem 0;
        font-size: 1.375rem;
        font-weight: 500;
        max-width: 75%;
      }

      &-decor {
        position: absolute;
        right: 6rem;
        bottom: 2rem;
        max-height: 330px
      }

      .btn {
        margin-top: 2rem;
        font-weight: 700;
      }
    }

    &-form {
        &.sent {
            display: none;

            + .modal-content-thanks {
                display: block;
            }
        }
    }
  }

  &-close {
    position: absolute;
    top: 2.625rem;
    right: 2.125rem;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../img/icons/modal-close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 1;
  }

  &-show {
    opacity: 1;
    visibility: visible;
    transform: scale(1) translate(0);
    transition: 0.3s;

    &:before {
      bottom: 0;
    }
  }

  &-job {
    &-top {
      padding: 3rem 7.5rem;
      background-image: url(../img/other/modal-wave.svg);
      background-size: cover;
      min-height: 210px;

      .job-list-item-type {
        margin-top: 0.75rem;
        &-badge {
          background: $lightblue-color-1;
          color: $darkgrey-color-3;
        }
      }

      .h2 {
        color: white;
      }
    }
    &-description {
      padding: 2rem 3.75rem 7.5rem;
      &-section {
        + .modal-job-description-section {
          margin-top: 1.5rem;
        }
      }
    }
    &-info {
      display: flex;
      padding: 1rem 2.5rem 0;
      gap: 2rem;
      &-item {
        &-name {
          font-family: $heading-font;
          font-weight: 500;
          font-size: 0.9375rem;
          color: $blue-color;
          margin: 0 0 0.5rem 1rem;
        }
        &-badge {
          font-family: $heading-font;
          font-weight: 500;
          font-size: 0.9375rem;
          text-align: center;
          color: $darkgrey-color-3;
          padding: 1rem 1.5rem;
          background-color: $bg-color-1;
          border-radius: 50px;
        }
      }
    }
    &-terms {
      display: flex;
      margin: 3rem 0 5rem;

      &-col {
        flex-basis: 50%;
        padding-right: 1rem;
      }

      &-list {
        padding-left: 1.25rem;
        margin-top: 1.5rem;

        li {
          font-size: 1.125rem;
          color: $darkgrey-color-2;
          margin: 3px 0;
        }
      }
    }
  }

  &-coworking {
    &-look {
      .modal-content-thanks .text {
        max-width: 100%;
      }
      .modal-content-thanks-thumb {
        max-width: 22.5rem;
        margin: 2rem auto 0;
        display: block;
      }
    }
  }
}
