.header-tab {
  width: 32%;
  background-color: $blue-color-1;
  padding: 1.875rem 0;
  border-radius: 0.625rem 0 0 0.625rem;
}

.header-tab button {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0.9375rem;
  text-align: left;
  background-color: white;
  padding: 1rem 0 1rem 4rem;
  font-family: $heading-font;
}

.header-tab button:hover {
  background-color: $bg-color-2;
}

.header-tab button.active {
  background-color: $bg-color-2;
  font-weight: 700;
}

.header-tabcontent {
  background-color: $bg-color-2;
  width: 100%;
  padding: 1.875rem 4rem 4rem;
  display: none;
  border-radius: 0 1rem 1rem 0;

  &.active {
    display: flex;
  }

  &-left {
    min-width: 420px;
    display: flex;
    flex-direction: column;
  }

  &-right {
    margin-left: auto;
  }
}