@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text VF";
  src: url("../fonts/GolosTextVF-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.btn {
  font-family: "Golos Text", sans-serif;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  padding: 0.75rem 1.3125rem;
  border-radius: 3.125rem;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid $darkgrey-color;
  background-color: transparent;
  &-red {
    &-fill {
        background-color: $red-color;
        border-color: $red-color;
        color: white;
    }
  }
  &-blue {
    &-fill {
      background-color: $blue-color;
      border-color: $blue-color;
      color: white;
    }
  }
}

.text {
  color: $darkgrey-color;
  font-size: 1.125rem;
}