@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text VF";
  src: url("../fonts/GolosTextVF-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;

  * {
    font-family: $heading-font;
  }
}

.h1 {
  font-size: 4.5rem;
}

.h2 {
  font-size: 2.625rem;

  + * {
    margin-top: 3.75rem;
  }
}

.h3 {
  font-size: 1.5625rem;
  font-weight: 500;
}

.h4 {
  font-size: 1.25rem;
}

.h5 {
  font-size: 0.9375rem;
}

.h6 {
  font-size: 0.75rem;
}

.first-word {
  color: $blue-color-1;
}

.bold {
  font-weight: 700;
}

.main-heading {
  margin-bottom: 1.25rem;
  &-contact {
    margin: 3.5rem 0 6.25rem;
  }
}

.text {
  font-size: 1.125rem;
  line-height: 156%;
  color: $darkgrey-color-1;

  &-big {
    font-size: 1.25rem;
  }

  &-small {
    font-size: 0.9375rem;
  }
}

.blue {
  color: $blue-color-1;
}

.red {
  color: $red-color-1;
}

// hover font-weight fix - https://css-tricks.com/bold-on-hover-without-the-layout-shift/
[data-text],
.btn[data-text] {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &:hover {
    // font-weight: 700;
  }
}
[data-text]:after {
  content: attr(data-text);
  content: attr(data-text) / "";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  // font-weight: 700;

  @media speech {
    display: none;
  }
}

.btn {
  font-family: "Golos Text", sans-serif;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  padding: 0.75rem 1.3125rem;
  border-radius: 3.125rem;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid $darkgrey-color-1;
  color: $darkgrey-color-1;
  background-color: transparent;
  display: inline-block;
  transition: 0.3s;

  &:hover {
    background-color: $blue-color-1;
    border-color: $blue-color-1;
    color: white;
    // font-weight: 700;
  }
  &-red {
    border-color: $red-color-1;
    color: $red-color-1;
    &-fill {
      background-color: $red-color-1;
      border-color: $red-color-1;
      color: white;

      &:hover {
        background-color: $darkred-color;
        border-color: $darkred-color;
        color: white;
      }
    }
    &:hover {
      background-color: transparent;
      border-color: $darkred-color;
      color: $darkred-color;
    }
  }
  &-blue {
    border-color: $blue-color-1;
    color: $blue-color-1;
    &-fill {
      background-color: $blue-color-1;
      border-color: $blue-color-1;
      color: white;
      &:hover {
        border-color: $blue-color-2;
        background-color: $blue-color-2;
      }
    }
    &:hover {
      background-color: transparent;
      border-color: $blue-color-1;
      color: $blue-color-1;
    }
  }
  &-white {
    color: white;
    border-color: white;
    &:hover {
      border-color: white;
      background-color: white;
      color: $blue-color-1;
    }
  }
  &-medium {
    font-size: 1.25rem;
    padding: 1.5rem 2.5rem;
  }
  &-big {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    .btn-icon {
      width: 1.5rem;
      margin-right: 0.5rem;
    }
  }
  &-icon {
    width: 0.5rem;
    display: inline-block;
    vertical-align: middle;
    transition: 0.3s;
    &-right {
      margin-left: 0.25rem;
    }
    &-left {
      margin-right: 0.25rem;
    }
  }
  &-success {
    background-color: $bg-color-1;
    border-color: $bg-color-1;
    color: $blue-color-1;
    display: flex;
    align-items: center;

    &:hover {
      background-color: $bg-color-1;
      border-color: $bg-color-1;
      color: $blue-color-1;
      font-weight: 400;
    }

    .btn-icon {
      width: 0.875rem;
      max-height: 0.875rem;
    }

    &-video {
      color: $red-color-1;
    }
  }
  &-load-more {
    font-size: 1.5625rem;
    padding: 1.5rem 1.875rem;
    .btn-icon {
      width: 1.5rem;
      margin-top: -0.3125rem;
      transition: 0.3s;
    }
    &:hover {
      .btn-icon {
        path {
          fill: white;
        }
      }
    }
  }
}

.btn[type="submit"] {
  &:hover {
    font-weight: 400;
  }
}
