$red-color-1: #F52525;
$red-color-2: #F52525;
$darkred-color: #D20B0B;
$lightblue-color-1: #9CC0FF;
$lightblue-color-2: #EBF2FF;
$lightblue-color-3: #CCD9FC;
$blue-color-1: #337CFC;
$blue-color-2: #004FD9;
$green-color: #339900;
$darkgrey-color-1: #252525;
$darkgrey-color-2: #4F4F4F;
$darkgrey-color-3: #51545E;
$grey-color-1: #939393;
$grey-color-2: #999999;
$lightgrey-color: #F1F1F1;
$bg-color-1: #F4F7FF;
$bg-color-2: #F1F3FE;
$bg-color-3: #F0F4FF;
$heading-font: "Golos Text", sans-serif;