$red-color: #F52525;
$darkred-color: #D20B0B;
$lightblue-color: #9CC0FF;
$blue-color: #337CFC;
$darkgrey-color-1: #252525;
$darkgrey-color-2: #4F4F4F;
$grey-color: #939393;
$lightgrey-color: #F1F1F1;
$bg-color-1: #F4F7FF;
$bg-color-2: #F1F3FE;
$heading-font: "Golos Text", sans-serif;