$red-color-1: #F52525;
$red-color-2: #F52525;
$red-color-3: #FF6363;
$darkred-color: #D20B0B;
$lightred-color: #FAE5E5;
$lightblue-color-1: #9CC0FF;
$lightblue-color-2: #EBF2FF;
$lightblue-color-3: #CCD9FC;
$lightblue-color-4: #DFE8FF;
$lightblue-color-5: #E3EBFF;
$lightblue-color-6: #D8DEFF;
$lightblue-color-7: #DEEAFF;
$blue-color-1: #337CFC;
$blue-color-2: #004FD9;
$green-color: #339900;
$lightgreen-color: #CFFCB9;
$darkgrey-color-1: #252525;
$darkgrey-color-2: #4F4F4F;
$darkgrey-color-3: #51545E;
$grey-color-1: #939393;
$grey-color-2: #999999;
$grey-color-3: #A4A4A4;
$lightgrey-color-1: #F1F1F1;
$lightgrey-color-2: #D9D9D9;
$bg-color-1: #F4F7FF;
$bg-color-2: #F1F3FE;
$bg-color-3: #F0F4FF;
$heading-font: "Golos Text", sans-serif;
$font1: "Golos Text", Arial, sans-serif;
$font2: Arial, sans-serif;