.c-hero {
  margin-top: 40px;
  &__tt {
    font-family: $font1;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 86px;
    color: #252525;
    margin-bottom: 30px;
    span {
      color: #337cfc;
    }
    @include tabletMaxi {
      font-size: 44px;
      line-height: 1.3;
    }
    // @include mobile {
      
    // }
  }
  &__txt {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    color: #4f4f4f;
    margin-bottom: 20px;
    padding-right: 20px;
    @include tabletMaxi {
      font-size: 16px;
      line-height: 1.3;
    }
  }
  &__btns {
    list-style-type: none;
    margin: 0 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 27px;
    padding: 0;
    @include tabletMaxi {
      grid-gap: 10px;
    }
  }
  &__btn {
    .btn {
      width: 100%;
      @include tabletMaxi {
        font-size: 12px;
        font-weight: 500;
        padding: 10px 15px;
        &:not(.btn_second), &:not(.btn_three), &:not(.btn_four) {
          line-height: 22px;
        }
      }
    }

  }
  &__grid {
    display: grid;
    grid-template-columns: 627px 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 0 16px;
    @include tabletMaxi {
      grid-template-columns: 500px 1fr;
    }
    @include tablet {
      grid-template-columns: 400px 1fr;
    }
    @include mobile {
      grid-template-columns: 1fr;
    }
  }
  &__content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    @include mobile {
      grid-column: auto / auto;
      grid-row: auto / auto;
      text-align: center;
    }
    &-second {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      margin-top: 25px;
      @include tabletMaxi {
        margin-top: 18px;
      }
      @include mobile {
        grid-column: auto / auto;
        grid-row: auto / auto;
        display: flex;
        flex-direction: column;
        .c-hero__btns {
          order: 1;
          margin-top: 30px;
        }
      }
    }
  }
  &__info-items {
    display: flex;
    justify-content: space-between;
    margin: 43px 0 0;
    padding: 0;
    list-style-type: none;
    @include tabletMaxi {
      flex-wrap: wrap;
      margin-top: 30px;
    }
  }
  &__info-item {
    list-style-type: none;
    margin-right: 15px;
    text-align: center;
    // margin-left: auto;
    display: block;
    // max-width: min-content;
    // &:first-child {
    //   margin-left: 0;
    // }
    // &:last-child {
    //   margin-right: 0;
    // }
    @include tabletMaxi {
      &:nth-child(3) {
        order: 1;
        margin-left: auto;
        margin-right: auto;
        margin-top: 12px;
      }
    }
  }
  &__info {
    &-tt {
      font-family: $font1;
      font-style: normal;
      font-weight: 500;
      font-size: 16.0047px;
      line-height: 19px;
      color: #252525;
      white-space: nowrap;
      @include tabletMaxi {
        font-size: 15px;
        line-height: 18px;
      }
    }
    &-txt {
      font-weight: 400;
      font-size: 16.0047px;
      line-height: 18px;
      text-align: center;
      color: #4f4f4f;
      margin-top: 5px;
      @include tabletMaxi {
        font-size: 15px;
        line-height: 17px;
        margin-top: 7px;
      }
      &_plus {
        span {
          &:last-child {
            &:after {
              display: none;
            }
          }
          &:after {
            content: " +";
            display: inline-block;
            margin-left: 5px;
          }
        }
      }
    }
  }

  &__img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    z-index: 1;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    @include mobile {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }

    &-inner {
      &-circle {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
        }
        picture {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      width: 523px;
      height: 523px;
      position: relative;
      z-index: 1;
      @include tabletMaxi {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        img {
          max-width: 100%;
        }
      }
      @include mobile {
        max-width: 300px;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: -30px;
        left: 17px;
        width: 545px;
        height: 545px;
        border-radius: 50%;
        background-color: #9cc0ff;
        overflow: hidden;
        z-index: -1;
        @include tabletMaxi {
          width: 100%;
          height: 100%;
          bottom: -10px;
          left: 5px;
        }
      }
    }
  }



  &__stock {
    margin-top: 75px;
    border-radius: 50px;
    overflow: hidden;
    padding: 17px 100px 23px 103px;
    background-color: #ccc;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    text-align: left;

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 50px;
      overflow: hidden;
      z-index: -1;
      picture {
        display: block;
        width: 100%;
        height: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: fill;
      }
    }
    &-tt {
      font-style: normal;
      font-family: $font1;
      font-weight: 700;
      font-size: 37.6068px;
      line-height: 45px;
      color: #f4f7ff;
    }
    &-txt {
      font-family: $font1;
      font-style: normal;
      font-weight: 400;
      font-size: 13.4815px;
      line-height: 16px;
      color: #f4f7ff;
      margin-top: 4px;
    }
    &-price {
      margin-right: 41px;
      text-align: left;
    }
    &-info {
      &-txt {
        font-family: $font1;
        font-style: normal;
        font-weight: 400;
        font-size: 21.1852px;
        line-height: 25px;
        color: #f4f7ff;
        max-width: 285px;
      }
    }
  }

  &__signup {
    background-color: $blue-color-1;
    display: flex;
    align-items: center;
    padding-right: 60px;

    .btn {
      font-size: 1.25rem;
      padding: 1.25rem 2.5rem;
    }

    .c-hero__stock-info-txt {
      font-size: 2.375rem;
      font-weight: 700;
      max-width: 100%;
    }

    .c-hero__stock-info {
      display: flex;
      flex-direction: column;
      margin: 0 auto 0 0;
    }

    &-detail {
      display: flex;
      align-items: center;
      margin: 1rem 0 0;
      &-item {
        display: flex;
        align-items: center;
        margin-right: 1.375rem;
        img {
          height: 1rem;
          margin-right: 0.3125rem;
        }
        span {
          color: white;
          font-size: 0.875rem;
        }
      }
    }
  }
}
