

.c-test {
  &__grid {
    display: grid;
    grid-template-columns: 563px 1fr;
    grid-gap: 30px;
  }
  &__picture {
    padding-bottom: 160px;
    &-boxes {
      width: 262px;
      background: #FFFFFF;
      border-radius: 30px 30px 0 30px;
      position: relative;
      z-index: 1;
    }
    &-box {
      width: 100%;
      min-height: 124px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      overflow: hidden;
      position: relative;
      padding: 20px 19px 20px 18px;
    }
    &-txt {
      font-family: $font1;
      font-style: normal;
      font-weight: 500;
      font-size: 17.7866px;
      line-height: 21px;
      color: #252525;
    }
    &-name {
      font-weight: 400;
      font-size: 15px;
      line-height: 17px;
      color: #6D6D6D;
      margin-top: 7px;
      padding-right: 30px;
    }
    &-icon {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  &__img {
    position: absolute;
    top: 100%;
    left: 100%;
    z-index: -1;
    
    &-one {
      position: absolute;
      left: -110px;
      top: -77px;
      img {
        max-width: 270px;
        display: inline-block;
      }
    }
    
    &-two {
      position: absolute;
      left: -60px;
      top: -157px;
      z-index: -2;
      
      img {
        max-width: 406px;
        display: inline-block;
      }
    }
    
  }
}

