.btn {
  &_norm {
    box-shadow: none;
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
  }
  &_second {
    font-family: $font1;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding: 13px 20px;
    text-align: center;
    color: #FFFFFF;
    background: #337CFC;
    border-radius: 50px;
    border: none;
    &:hover {
      background: #004FD9;
      border-color: #004FD9;
    }
  }
  &_second-border {
    background-color: transparent;
    color: #337CFC;
    padding: 13px 20px;
    border: 1px solid #337CFC;
    line-height: 22px;
    &:hover {
      background: #337CFC;
      color: #fff;
    }
  }
  &_three {
    background: #F52525;
    color: #fff;
    border: none;
    &:hover {
      background: #D20B0B;
      color: #fff;
      border-color: #D20B0B;
    }
  }
  &_four {
    background: #7EB563;
    color: #fff;
    border: none;
    &:hover {
      background: darken(#7EB563, 15%);
      color: #fff;
      border: none;
    }
  }
  &_five {
    background: #9CC0FF;
    color: #fff;
    border: none;
    &:hover {
      background: darken(#9CC0FF, 15%);
      color: #fff;
      border: none;
    }
  }
  &_light {
    background: #F4F7FF;
    color: #337CFC;
    border: none;
    &:hover {
      background: darken(#F4F7FF, 10%);
      color: #337CFC;
      border: none;
    }
  }
  &_light-second {
    border: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    padding: 10px 25px;
    background: #E8F0FF;
    border-radius: 64.532px;
    color: #51545E;
    &:hover {
      background: darken(#E8F0FF, 10%);
      color: #51545E;
      border: none;
    }
    &.btn_min-width {
      min-width: 262px;
    }
  }
  &_name {
    line-height: 19px;
    padding: 6px 22px;
    span {
      display: block;
      text-align: left;
    }
  }
  &_icon {
    font-family: $font1;
    font-weight: 400;
    font-size: 15px;
    span {
      display: inline-block;
      vertical-align: middle;
      line-height: 0;
    }
    .btn__icon {
      line-height: 0;
      display: inline-block;
      &_left {
        margin-right: 6px;
      }
    }
    
  }

  &_md {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    padding: 13px 25px;
  }

  &_what {
    padding: 13px 27px 13px 22px;
    .btn__icon_left {
      margin-right: 7px;
    }
    .btn__text-icon {
      position: relative;
      top: -1px;
      vertical-align: middle;
    }
    .btn__icon {
      position: relative;
      top: -1px;
      vertical-align: middle;
    }
  }

  &_telgr {
    padding: 13px 35px 13px 18px;
    .btn__icon_left {
      margin-right: 13px;
    }
    .btn__text-icon {
      position: relative;
      top: -2px;
      vertical-align: middle;
    }
    .btn__icon {
      position: relative;
      top: -1px;
      vertical-align: middle;
    }
  }

  &_btn-lg {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding: 23px 30px;
    &_norm {
      font-weight: 400;
    }
  }

  &_mini {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    font-family: $font2;
    padding: 7px 20px;
    border-radius: 30px;
    
    &.btn_min-width {
      min-width: 130px;
    }
    &.btn_min-width-md {
      min-width: 142px;
    }
  }

  &_minimal {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    font-family: $font2;
    padding: 7px 7px;
    border-radius: 30px;
    
    &.btn_min-width {
      min-width: 130px;
    }
  }

  &_min {
    font-size: 15px;
    line-height: 24px;
    font-family: $font1;
    font-weight: 700;
    padding: 7px 7px;
    border-radius: 30px;
    
    &.btn_min-width {
      min-width: 142px;
    }
  }

  &_big {
    padding: 29px 40px;
    font-family: $font1;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    border-radius: 94px;
    font-weight: 700;

    &.btn_second-border {
      font-weight: 400;
      line-height: 22px;
    }
  }

  &_disable {
    &.btn_second {
      cursor: default;
      &:hover {
        color: #fff;
        background: #337CFC;
      }
    }
    &.btn_light {
      cursor: default;
      &:hover {
        background: #F4F7FF;
        color: #337CFC;
      }
    }
    
  }
}

.les-item__btn {
  .btn {
    width: 100%;
  }
}

span.btn_name {
  cursor: default;
  &:hover {
    background: #F52525;
    color: #fff;
    border: none;
  }
}

