.grid-default {
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: column;
  padding: 60px 0;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 50px;
  }
  a {
    display: block;
    font-weight: 600;
    &:hover {
      text-decoration: none;
    }
  }
}

.cap-tt-wrapp {
  margin-bottom: 75px;
  &_md {
    margin-bottom: 45px;
  }
  &_lg {
    margin-bottom: 110px;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, .cap-tt {
    margin-bottom: 0;
  }
  > *+* {
    margin-top: 18px;
  }
  &_full {
    .cap-tt {
      margin-bottom: 40px;
    }
    .h2 {
      font-family: $font1;
      font-style: normal;
      font-weight: 700;
      font-size: 42px;
      line-height: 50px;
      color: #252525;
    }
    .txt-st {
      font-weight: 400;
      font-size: 20px;
      line-height: 1.5;
      margin-top: 28px;
      max-width: 1040px;
    }
  }
}

.cap-tt {
  margin-bottom: 40px;
  span {
    color: #337CFC;
  }
}

.cap-txt {
  font-weight: 400;
  color: #252525;
  font-size: 20px;
  line-height: 129.99%;
}

.text-inner {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #252525;
  b {
    font-weight: 700;
  }
  > * + * {
    margin-top: 20px;
  }
}

.section-st {
  margin: 100px 0;
  &_sm-bt {
    margin-bottom: 70px;
  }
  &_sm-top {
    margin-top: 70px;
  }
  &_sm {
    margin: 70px 0;
  }
  &_md-bt {
    margin-bottom: 115px;
  }
  &_md-top {
    margin-top: 115px;
  }
  &_md {
    margin: 115px 0;
  }
  &_lg-bt {
    margin-bottom: 150px;
  }
  &_lg-top {
    margin-top: 150px;
  }
  &_lg {
    margin: 150px 0;
  }
  &_l-bt {
    margin-bottom: 130px;
  }
  &_l-top {
    margin-top: 130px;
  }
  &_l {
    margin: 130px 0;
  }
}

