.swiper-review-container {
  .swiper {
    overflow: visible;
  }
  .swiper-slide {
    &:not(.swiper-slide-active) {
      opacity: 0.25;
      pointer-events: none;
    }
  }
  .swiper-button-prev, .swiper-button-next {
    &:hover {
      box-shadow: 0px 0px 10px rgba(#000, 0.2);
    }
  }
  .swiper-button-next {
    padding-left: 3px;
  }
  .swiper-button-prev {
    padding-right: 2px;
  }
}

.regular-sect_slider {
  overflow: hidden;
}

.vbox-link:hover {
  box-shadow: 2px 5px 10px rgba(#000, 0.2);
  z-index: 2;
}
.vbox-link:hover img {
  transform: scale(1);
}

