
.fancy-modal {
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}


.modal-city {
  width: 100%;
  height: 100%;
  background-color: #F1F3FF;
  padding: 0;

  .fancybox-button {
    padding: 0;
    right: 360px;
    top: 9px;
    transition: all 0.2s ease-in-out;
    @media (max-width: 1600px) {
      right: 100px;
    }
    @media (max-width: 1440px) {
      right: 9px;
    }
    
    &:hover {
      transform: rotate(180deg);
      svg path {
        color: #337CFC;
      }
    }
  }
  .fancybox-button svg path {
    color: #C0C9FF;
  }

  &__grid {
    display: grid;
    grid-template-columns: 40% 1fr;
    width: 100%;
    height: 100%;
    @media (max-width: 1100px) {
      grid-template-columns: 480px 1fr;
    }
    @media (max-width: 840px) {
      grid-template-columns: 320px 1fr;
    }
  }

  &__info {
    background: #337CFC;
    color: #fff;
    
    &-inner {
      height: 100%;
      margin-left: auto;
      max-width: 443px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 50px;
      padding-top: 22px;
      padding-bottom: 42px;
      padding-right: 30px;
      @media (max-width: 840px) {
        padding-left: 20px;
        padding-top: 50px;
      }
    }
  }
  &__btn {
    margin-top: auto;
  }

  &__map {
    &-wrapp {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding-right: 30px;
      max-width: 950px;
      min-width: 950px;
      padding-left: 10px;
      padding-bottom: 65px;
      svg {
        max-width: 100%;

      }
    }
  }
}

.modal-header-wrapp {
  .fancybox-slide--html {
    padding: 0;
  }
}

.mc-tt {
  font-family: $font1;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 153.9%;
  display: block;
  margin-bottom: 6px;
  @media (max-width: 840px) {
    font-size: 31px;
    line-height: 1.3;
    margin-bottom: 15px;
  }
}

.mc-txt {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 17px;
  display: block;
  @media (max-width: 840px) {
    font-size: 16px;
    line-height: 1.4;
  }
}

a.mc-point__link {
  letter-spacing: 0.7px;
  transition: all 0s ease-in-out;
  &:hover {
    letter-spacing: 0px;
    font-weight: bold;
    &:before {
      transform: scale(1.3);
    }
  }
}

.mc-point {
  &.active {
    a.mc-point__link {
      letter-spacing: 0px;
      font-weight: bold;
    }
  }
}

.mc-point {
  font-weight: 400;
  font-size: 20px;
  line-height: 153.9%;
  color: #FFFFFF;
  list-style: none;
  margin-bottom: 12px;
  @media (max-width: 840px) {
    font-size: 16px;
  }
  &s {
    padding-left: 0;
    margin: 0 0 26px;
  }
  &.active {
    .mc-point__link {
      text-decoration: none;
      &:before {
        transform: scale(1.3);
      }
    }
  }
  &__link {
    color: inherit;
    padding-left: 34px;
    position: relative;
    display: block;
    text-decoration: none;
    
    &:hover {
      text-decoration: none;
    }
    &:before {
      content: "";
      position: absolute;
      transition: all 0.2s ease-in-out;
      top: 6px;
      left: 15px;
      width: 14px;
      height: 17px;
      background: url("data:image/svg+xml,%3Csvg width='14' height='17' viewBox='0 0 14 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.11227 16.8297L7.11422 16.8288L7.1191 16.8255L7.13374 16.8147L7.19131 16.7748C7.24011 16.74 7.31135 16.6892 7.40113 16.6225C7.58069 16.49 7.8354 16.295 8.13939 16.0446C8.93738 15.3877 9.68355 14.6747 10.3717 13.9113C11.9858 12.1135 13.6624 9.54752 13.6624 6.61405C13.6624 4.86139 12.9432 3.17922 11.6628 1.93873C11.03 1.32478 10.2773 0.837415 9.44809 0.504688C8.61888 0.171961 7.72952 0.000440907 6.83121 0C5.93293 0.000379356 5.0436 0.171825 4.21439 0.504471C3.38519 0.837117 2.63248 1.32439 1.99959 1.93826C0.717972 3.18158 -0.000860253 4.86265 7.72618e-07 6.61452C7.72618e-07 9.54752 1.67657 12.1135 3.29069 13.9113C3.97887 14.6747 4.72505 15.3877 5.52303 16.0446C5.82751 16.295 6.08173 16.49 6.26129 16.6225C6.34936 16.6879 6.43834 16.7521 6.5282 16.8152L6.54381 16.8255L6.5482 16.8288L6.55016 16.8297C6.7185 16.9439 6.94393 16.9439 7.11227 16.8297ZM9.27093 6.57834C9.27093 7.20144 9.01389 7.79902 8.55635 8.23962C8.09882 8.68022 7.47826 8.92775 6.83121 8.92775C6.18416 8.92775 5.56361 8.68022 5.10607 8.23962C4.64853 7.79902 4.39149 7.20144 4.39149 6.57834C4.39149 5.95524 4.64853 5.35766 5.10607 4.91706C5.56361 4.47646 6.18416 4.22893 6.83121 4.22893C7.47826 4.22893 8.09882 4.47646 8.55635 4.91706C9.01389 5.35766 9.27093 5.95524 9.27093 6.57834Z' fill='white'/%3E%3C/svg%3E%0A") center center no-repeat;
      background-size: contain;
      
    }
  }
}

.mc-points_sm {
  .mc-point {
    font-weight: 400;
    font-size: 15px;
    line-height: 153.9%;
    color: #D8DEFF;
    margin-bottom: 6px;
    &__link {
      padding-left: 31px;
      display: block;
      &:before {
        top: 2px;
        width: 12px;
        height: 16px;
        background: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.20044 15.5979L6.20214 15.597L6.20639 15.5942L6.21915 15.5848L6.26935 15.5499C6.31189 15.5196 6.374 15.4754 6.45227 15.4172C6.60881 15.3017 6.83086 15.1317 7.09588 14.9134C7.79156 14.3407 8.44207 13.7191 9.04202 13.0536C10.4492 11.4863 11.9108 9.24926 11.9108 6.69188C11.9108 5.16392 11.2838 3.69741 10.1676 2.61596C9.61588 2.08072 8.95969 1.65584 8.23679 1.36577C7.51389 1.0757 6.73856 0.926166 5.95541 0.925781C5.1723 0.926112 4.39698 1.07558 3.67409 1.36558C2.95119 1.65558 2.29498 2.08038 1.74324 2.61555C0.625924 3.69947 -0.000749964 5.16501 6.73565e-07 6.69229C6.73565e-07 9.24926 1.46163 11.4863 2.86881 13.0536C3.46876 13.7191 4.11927 14.3407 4.81495 14.9134C5.08039 15.1317 5.30202 15.3017 5.45856 15.4172C5.53534 15.4742 5.61291 15.5302 5.69125 15.5852L5.70486 15.5942L5.70869 15.597L5.71039 15.5979C5.85715 15.6974 6.05368 15.6974 6.20044 15.5979ZM8.08235 6.66074C8.08235 7.20396 7.85826 7.72493 7.45938 8.10904C7.06051 8.49315 6.51951 8.70894 5.95541 8.70894C5.39132 8.70894 4.85032 8.49315 4.45145 8.10904C4.05257 7.72493 3.82848 7.20396 3.82848 6.66074C3.82848 6.11753 4.05257 5.59656 4.45145 5.21245C4.85032 4.82833 5.39132 4.61254 5.95541 4.61254C6.51951 4.61254 7.06051 4.82833 7.45938 5.21245C7.85826 5.59656 8.08235 6.11753 8.08235 6.66074Z' fill='%23D8DEFF'/%3E%3C/svg%3E%0A") center center no-repeat;
        background-size: contain;
      }
    }
    &__link {
      color: inherit;
    }
  }
}

.btn.btn_border-light-icon {
  line-height: 24px;
  padding: 14px 20px 14px 38px;
  border: 1px solid #FFFFFF;
  border-radius: 49.8989px;
  color: #fff;
  background: transparent;
  text-align: center;
  transition: all 0.1s ease-in-out;

  font-weight: 400;
  font-size: 16px;
  &:before {
    content: "";
    position: absolute;
    left: 13px;
    top: 50%;
    width: 16px;
    height: 12px;
    margin-top: -6px;
    background: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.7 0.725196C6.9 0.925196 6.996 1.16686 6.988 1.4502C6.97933 1.73353 6.875 1.9752 6.675 2.1752L3.85 5.0002L15 5.0002C15.2833 5.0002 15.521 5.0962 15.713 5.2882C15.9043 5.47953 16 5.71686 16 6.0002C16 6.28353 15.9043 6.5212 15.713 6.7132C15.521 6.90453 15.2833 7.0002 15 7.0002L3.85 7.0002L6.7 9.8502C6.9 10.0502 7 10.2879 7 10.5632C7 10.8379 6.9 11.0752 6.7 11.2752C6.5 11.4752 6.26233 11.5752 5.987 11.5752C5.71233 11.5752 5.475 11.4752 5.275 11.2752L0.700001 6.7002C0.6 6.6002 0.528999 6.49186 0.487 6.3752C0.445666 6.25853 0.424999 6.13353 0.424999 6.0002C0.424999 5.86686 0.445666 5.74186 0.487 5.6252C0.528999 5.50853 0.6 5.4002 0.700001 5.3002L5.3 0.700196C5.48333 0.516863 5.71233 0.425195 5.987 0.425195C6.26233 0.425195 6.5 0.525196 6.7 0.725196Z' fill='white'/%3E%3C/svg%3E%0A") center center no-repeat;
    background-size: contain;
  }
  &:hover {
    background: #D20B0B;
    color: #fff;
    border-color: #D20B0B;
  }
  @media (max-width: 840px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.main-map-modal__item_city-1 foreignObject {
  x: 306;
  y: 560;
}

.modal-city {
  &__map {
    svg {
      cursor: default;
    }
  }
  .main-map-modal__item foreignObject {
    width: 600px;
    height: 120px;
    .btn-city {
      width: auto;
      // box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
      padding: 14px 82px;
      font-size: 42px;
      transition: all 0.2s ease-in-out;
      
      transform: scale(1);
      box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.25);
      &:hover {
        transform: scale(1);
        box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.9);
      }
    }
  }
  .main-map-modal__item {
    transition: all 0.2s ease-in-out;
    transform-origin: center center;
    cursor: pointer;
    
    foreignObject {
      transition: all 0.2s ease-in-out;
      transform-origin: center center;
      .btn-city {
        transition: all 0.2s ease-in-out;
        transform-origin: center center;
      }
    }
    
    &:hover, &.active {
      path {
        fill: #FFA6A6 !important;
      }
      foreignObject {
        .btn-city {
          transform-origin: center center;
          transform: scale(1.01);
          // transform: scale(1.03);
          box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.9);
        }
      }
    }
  }

  .main-map-modal__item_city_msk foreignObject {
    x: 229;
    y: 696;
  }


  .main-map-modal__item_city_nn foreignObject {
    x: 387;
    y: 787;
    .btn-city {
      padding: 14px 60px;
    }
  }

  .main-map-modal__item_city_izhevsk foreignObject {
    x: 520;
    y: 891;
    .btn-city {
      padding: 14px 55px;
    }
  }

  .main-map-modal__item_city_kazan foreignObject {
    x: 260;
    y: 979;
    .btn-city {
      padding: 14px 52px;
    }
  }

  .main-map-modal__item_city_krasnodar foreignObject {
    x: 49;
    y: 1092;
    .btn-city {
      padding: 14px 46px;
    }
  }
}

.modal-city {
  .pd-anim-box__wrapp-inner {
    max-width: 440px;
  }
}


@media (max-width: 840px) {
  .mc-point__link:before {
    top: 2px;
  }
}




